<section class="pb-[8.75rem] lg:pb-20">
    <div class="container">
        <div class="flex gap-x-10 lg:flex-col">
            <div class="max-w-[35rem] lg:order-1 lg:mt-8">
                <h2 class="font-semibold text-darkgrey-700">Вантажоперевезення від TRANSEXPEDITION</h2>
                <p class="mt-8 max-w-[34.5rem]">Компанія TRANSEXPEDITION заснована у 1997 році у м. Одеса.
                    <br>
                    За цей час ми освоїли маршрути Україною та велікої кількості країн.
                    <br>
                    Наша професіональна команда гарантує якість сервісу, тому
                    якщо вам потрібен надійний партнер, готовий впоратися з найскладнішими вантажами – ми готові
                    оперативно та грамотно вирішити будь-яке завдання.
                    <br>
                    Зателефонуйте нам або залиште заявку для зворотнього зв`язку.
                </p>
                <div class="mt-6 flex justify-start">
                    <a href="" class="btn sm:w-full">Зв’язатись</a>
                </div>
                <div class="mt-8 flex justify-between lg:flex-col lg:gap-y-6">
                    <div>
                        <h2 class="font-semibold text-gray-500 tracking-[-0.003em] lg:!text-h2">25</h2>
                        <p class="pt-1">років досвіду</p>
                    </div>
                    <div>
                        <h2 class="font-semibold text-gray-500 tracking-[-0.003em] lg:!text-h2">20000+</h2>
                        <p class="pt-1">здійснених перевезень</p>
                    </div>
                    <div>
                        <h2 class="font-semibold text-gray-500 tracking-[-0.003em] lg:!text-h2">1000</h2>
                        <p class="pt-1">перевезень за рік</p>
                    </div>
                </div>
            </div>
            <div class="mt-2 rounded-lg">
                <img class="w-full h-full" src="/public/images/aboutus/aboutusimg.jpg" alt="">
            </div>
        </div>
    </div>
</section>