<section class="py-[8.75rem] lg:py-20">
    <div class="container">
        <div class="flex flex-wrap justify-center gap-x-8 lg:justify-start lg:gap-y-10">
            <div class="flex gap-x-6">
                <div>
                    <img src="/public/images/benefits/truck.svg" alt="">
                </div>
                <div>
                    <div
                        class="pb-4 max-w-[10.5rem] font-semibold text-gray-600 relative after:absolute after:w-12 after:bg-yellow-100 after:h-0.5 after:bottom-0 after:left-0">
                        Наявність власного транспорту
                    </div>
                    <p class="pt-4 text-gray-300 font-medium max-w-[13.625rem]">Маємо власний автопарк для перевезень
                    </p>

                </div>
            </div>
            <div class="flex gap-x-6">
                <div>
                    <img src="/public/images/benefits/check.svg" alt="">
                </div>
                <div>
                    <div
                        class="pb-4 max-w-[10.5rem] font-semibold text-gray-600 relative after:absolute after:w-12 after:bg-yellow-100 after:h-0.5 after:bottom-0 after:left-0">
                        Підбір найкращого
                        рішення
                    </div>
                    <p class="pt-4 text-gray-300 font-medium max-w-[13.625rem]">В залежності від типу
                        та розміру вантажу
                    </p>

                </div>
            </div>
            <div class="flex gap-x-6">
                <div>
                    <img src="/public/images/benefits/sertificate.svg" alt="">
                </div>
                <div>
                    <div
                        class="pb-4 max-w-[10.5rem] font-semibold text-gray-600 relative after:absolute after:w-12 after:bg-yellow-100 after:h-0.5 after:bottom-0 after:left-0">
                        Сертифікований
                        транспорт
                    </div>
                    <p class="pt-4 text-gray-300 font-medium max-w-[13.625rem]">Висока якість та
                        надійність в усьому
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>