<section class="py-[8.75rem] lg:pt-0 lg:pb-20">
    <div class="container">
        <h2 class="font-semibold text-darkgrey-700">Куди ми доставляємо вантажі?</h2>
        <h3 class="mt-8 font-medium lg:font-semibold lg:text-lg-h4">По Україні та за кордон, а саме у: </h3>
        <div class="mt-12 flex flex-[1_1_100%] flex-wrap gap-y-6 lg:justify-center">
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/pol.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Польщу</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/rom.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Румунію</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/bul.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Болгарію</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/mold.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Молдову</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/tur.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Туреччину</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/slov.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Словаччину</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/cro.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Хорватію</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/hung.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Угорщину</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/ger.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Німеччину</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/au.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Австрію</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/cze.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Чехію</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/fra.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Францію</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/esp.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Іспанію</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/ita.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Італію</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/bel.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Бельгію</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/por.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Португалію</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/est.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Естонію</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/lith.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Литву</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/la.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Латвію</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/public/images/flags/slo.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Словенію</h4>
            </div>
        </div>
    </div>
</section>