<header class="pt-[9.25rem] pb-[18.375rem] lg:pb-[10.375rem]">
    <div class="bg-image"></div>
    <div class="container">
        <h1 class="text-white max-w-[49.563rem]">Транспортне перевезення вантажів</h1>
        <p class="mt-4 text-white font-semibold text-lg max-w-[28.313rem]">Здійснюємо транспортування вашого вантажу по
            Україні та за кордон</p>
        <div class="mt-10 flex justify-start">
            <a class="btn sm:w-full" href="">Зв’язатись</a>
        </div>
    </div>
</header>