<section class="sticky top-0">
    <nav class="py-[1.563rem] bg-gray-900 z-10 bg-opacity-60 transition ease-in-out">
        <div class="container">
            <div class="flex items-center justify-between">
                <div class="flex items-center gap-x-[3.938rem] xl:gap-x-5">
                    <a href="">
                        <img src="/public/images/logo.svg" alt=""></a>
                    <ul class="flex gap-x-10 xl:gap-x-8 lg:hidden">
                        <li><a class="link" href="">Про нас</a></li>
                        <li><a class="link" href="">Виды</a></li>
                        <li><a class="link" href="">Этапы</a></li>
                        <li><a class="link" href="">Контакты</a></li>
                    </ul>
                </div>
                <div class="flex  items-center gap-x-[2.875rem] lg:hidden">
                    <div class="dropdown-container">
                        <div class="dropdown-toggle click-dropdown w-[168px]">
                            <span>Язык</span>
                        </div>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a href="./index.html">
                                        <div class="flex items-center gap-x-2">
                                            <div class="w-7 h-5">
                                                <img class="w-full h-full object-cover"
                                                    src="/public/images/flags/ukr.png" alt="">
                                            </div>
                                            <span>Українська</span>
                                        </div>

                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="btn-number" href="tel:+380553421990">+38(055) 34 21 990</a>
                </div>
            </div>

        </div>
    </nav>

</section>