<head><script defer="defer" src=".//js/manifest.js"></script><script defer="defer" src=".//js/vendor.js"></script><script defer="defer" src=".//js/app.js"></script><link href="./css/tailwind.css" rel="stylesheet"><link href="./css/app.css" rel="stylesheet"></head><section class="pb-[8.75rem] lg:pb-20">
    <div class="container">
        <h2 class="font-semibold text-darkgrey-700">Куда мы доставляем грузы?</h2>
        <h3 class="mt-8 font-medium lg:font-semibold lg:text-lg-h4">По Украине и за границу, а именно: </h3>
        <div class="mt-12 flex flex-[1_1_100%] flex-wrap gap-y-6 lg:justify-center">
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/pol.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Польшу</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/rom.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Румынию</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/bul.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Болгарию</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/mold.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Молдову</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/tur.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Турцию</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/slov.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Словакию</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/cro.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Хорватию</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/hung.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Венгрию</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/ger.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Германию</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/au.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Австрию</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/cze.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Чехию</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/fra.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Францию</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/esp.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Испанию</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/ita.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Италию</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/bel.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Бельгию</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/por.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Португалию</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/est.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Эстонию</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/lith.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Литву</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/la.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Латвию</h4>
            </div>
            <div class="flex gap-x-2 flex-[0_1_20%] lg:flex-[0_1_50%]">
                <img class="flag" src="/images/flags/slo.png" alt="">
                <h4 class="font-medium text-gray-600 lg:text-base">Словению</h4>
            </div>
        </div>
    </div>
</section>