<head><script defer="defer" src=".//js/manifest.js"></script><script defer="defer" src=".//js/vendor.js"></script><script defer="defer" src=".//js/app.js"></script><link href="./css/tailwind.css" rel="stylesheet"><link href="./css/app.css" rel="stylesheet"></head><footer class="pt-14 bg-darkgrey-800" id="footer">
    <div class="container">
        <div class="pb-16 flex justify-center gap-x-9 border-b border-gray-400 lg:flex-col">
            <div>
                <h2 class="text-white font-semibold">Контакты</h2>
                <p class="mt-8 text-gray-200 max-w-[31.25rem]">
                    Оставьте ваши контактные данные и мы свяжемся с Вами
                    и подберем лучший вариант транспортировки
                    Ваш груз.
                </p>
                <div class="mt-10">
                    <div class="flex items-center gap-x-3">
                        <img src="/public/images/footer/phone.svg" alt="">
                        <div class="text-gray-200">+38 (055) 34 21 990</div>
                    </div>
                    <div class="mt-4 flex items-center gap-x-3">
                        <img src="/public/images/footer/mail.svg" alt="">
                        <div class="text-gray-200">tovtransexpedition@gmail.com</div>
                    </div>
                    <div class="mt-4 flex items-start gap-x-3">
                        <img src="/public/images/footer/mark.svg" alt="">
                        <div class="max-w-[25rem] text-gray-200">Украина, 65017, Одесская обл., г. Одесса, Люстдорфская
                            дорога, дом 5
                        </div>
                    </div>
                </div>
                <div class="mt-12 flex items-center gap-x-6">
                    <a href="https://wa.me/380674847689"><img src="/public/images/footer/whatsapp.svg" alt=""></a>
                    <a href="viber://chat?number=%2B380674847689"><img src="/public/images/footer/viber.svg" alt=""></a>
                    <a href="https://t.me/a_kozachenko"><img src="/public/images/footer/telegram.svg" alt=""></a>
                </div>
            </div>
            <form id="footer-form" class="p-8 bg-darkgrey-700 rounded-lg w-full max-w-[27.125rem] lg:mt-10 lg:max-w-none">
                <h4 class="font-medium text-white">Заполните заявку</h4>
                <div class="mt-6 flex-col flex gap-y-2">
                    <div>
                        <label class="pb-1 text-xs font-medium text-gray-400" for="name">Имя и фамилия</label>
                        <input class="pl-4 py-[11px] bg-gray-700 rounded-lg text-white text-xs outline-yellow-100 outline-1 w-full" name="footer-name" type="text">
                    </div>
                    <div>
                        <label class="pb-1 text-xs font-medium text-gray-400" for="name">Номер телефона</label>
                        <input class="pl-4 py-[11px] bg-gray-700 rounded-lg text-white text-xs outline-yellow-100 outline-1 w-full" type="tel" name="footer-phone" pattern="+[0-9]{10}" required="">
                    </div>
                    <div>
                        <label class="pb-1 text-xs font-medium text-gray-400" for="name">Email</label>
                        <input class="pl-4 py-[11px] bg-gray-700 rounded-lg text-white text-xs outline-yellow-100 outline-1 w-full" name="footer-email" type="email">
                    </div>
                    <div>
                        <label class="pb-1 text-xs font-medium text-gray-400" for="name">Комментарий</label>
                        <textarea class="pl-4 py-[11px] bg-gray-700 rounded-lg text-white text-xs outline-yellow-100 outline-1 w-full resize-none" name="footer-comment"></textarea>
                    </div>


                </div>
                <div class="mt-[43px] flex justify-start">
                    <input class="btn cursor-pointer sm:w-full" type="submit" value="Отправить" id="footer-submit">
                </div>
            </form>
        </div>
        <div class="py-6 text-xs text-gray-400">&copy; ООО "ТРАНСЭКСПЕДИЦИЯ", 2022. Все права защищены.</div>
    </div>
</footer>