<head><script defer="defer" src=".//js/manifest.js"></script><script defer="defer" src=".//js/vendor.js"></script><script defer="defer" src=".//js/app.js"></script><link href="./css/tailwind.css" rel="stylesheet"><link href="./css/app.css" rel="stylesheet"></head><header class="pt-[14.875rem] pb-[18.375rem] overflow-hidden max-h-[856px] h-full relative lg:pb-[10.375rem]">
    <div class="bg-image"></div>
    <div class="container">
        <h1 class="text-white max-w-[49.563rem]">Транспортне перевезення вантажів</h1>
        <p class="mt-4 text-white font-semibold text-lg max-w-[28.313rem]">Здійснюємо транспортування вашого вантажу по
            Україні та за кордон</p>
        <div class="mt-10 flex justify-start" x-data="{id:'modal-form'}">
            <a x-on:click.prevent="$dispatch('modal-overlay',{id})" class="btn sm:w-full" href="">Зв’язатись</a>
        </div>
        <div class="fixed inset-0 z-10 flex flex-col items-center justify-center overflow-y-auto bg-black bg-opacity-80" x-data="{modal:false}" x-show="modal" x-on:modal-overlay.window="if ($event.detail.id == 'modal-form') modal=true" x-transition:enter="transition ease-out duration-1000" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-500" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" x-cloak="">
            <form id="header-form" class="p-8 bg-white rounded-lg w-full max-w-[27.125rem] transition-all transform sm:w-[calc(100%_-_16px_*_2)] relative" aria-modal="true" aria-labelledby="modal-headline" x-show="modal" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 -translate-y-4 sm:translate-y-4" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 -translate-y-4 sm:translate-y-4" @click.away="modal=false">
                <div @click="modal=false" class="absolute top-[-2.5rem] right-0 cursor-pointer">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="hover:fill-yellow-100" fill-rule="evenodd" clip-rule="evenodd" d="M19.1341 2.6007C19.6133 2.12166 19.6133 1.34497 19.1341 0.865933C18.6552 0.386893 17.8785 0.386893 17.3995 0.865933L10.0002 8.26523L2.6009 0.865933C2.12184 0.386893 1.34516 0.386893 0.866116 0.865933C0.387076 1.34497 0.387076 2.12166 0.866116 2.6007L8.26541 9.99999L0.866116 17.3993C0.387076 17.8784 0.387076 18.6549 0.866116 19.1341C1.34516 19.613 2.12184 19.613 2.6009 19.1341L10.0002 11.7348L17.3995 19.1341C17.8785 19.613 18.6552 19.613 19.1341 19.1341C19.6133 18.6549 19.6133 17.8784 19.1341 17.3993L11.7349 9.99999L19.1341 2.6007Z" fill="white"></path>
                    </svg>
                </div>
                <h4 class="font-medium text-darkgrey-700">Заповніть заявку</h4>
                <div class="mt-6 flex-col flex gap-y-2">
                    <div>
                        <label class="pb-1 text-xs font-medium text-gray-400">Ім’я та прізвище</label>
                        <input class="pl-4 py-[11px] bg-gray-100 rounded-lg text-gray-400 text-xs outline-gray-300 outline-1 w-full" name="popup-name" type="text">
                    </div>
                    <div>
                        <label class="pb-1 text-xs font-medium text-gray-400">Номер телефону</label>
                        <input class="pl-4 py-[11px] bg-gray-100 rounded-lg text-gray-400 text-xs outline-gray-300 outline-1 w-full" type="tel" name="popup-phone" pattern="+[0-9]{10}" required="">
                    </div>
                    <div>
                        <label class="pb-1 text-xs font-medium text-gray-400">Email</label>
                        <input class="pl-4 py-[11px] bg-gray-100 rounded-lg text-gray-400 text-xs outline-gray-300 outline-1 w-full" name="popup-email" type="email">
                    </div>
                    <div>
                        <label class="pb-1 text-xs font-medium text-gray-400">Коментар</label>
                        <textarea class="pl-4 py-[11px] bg-gray-100 rounded-lg text-gray-400 text-xs outline-gray-300 outline-1 w-full resize-none" name="popup-comment"></textarea>
                    </div>
                </div>
                <div class="mt-[43px] flex justify-start">
                    <input class="btn cursor-pointer sm:w-full" type="submit" id="popup-submit" value="Відправити">
                </div>
            </form>

        </div>
    </div>
</header>