<head><script defer="defer" src=".//js/manifest.js"></script><script defer="defer" src=".//js/vendor.js"></script><script defer="defer" src=".//js/app.js"></script><link href="./css/tailwind.css" rel="stylesheet"><link href="./css/app.css" rel="stylesheet"></head><section class="pb-[8.75rem] lg:pb-20" id="steps">
    <div class="container">
        <h2 class="text-darkgrey-700 font-semibold tracking-[-0.003em]">Як це працює?</h2>
        <div class="mt-8 flex items-center gap-x-[5.5rem] lg:flex-col lg:items-start lg:gap-y-8">
            <div class="flex flex-col max-w-[12.5rem] lg:max-w-none">
                <span class="pb-4 text-[100px] leading-[100px] text-darkgrey-700 font-bold">1</span>
                <div class="pb-4 text-gray-600 font-semibold relative after:absolute after:w-12 after:bg-yellow-100 after:h-0.5 after:bottom-0 after:left-0 z-[-1] lg:text-lg-h4">
                    Обработка входного
                    запроса
                </div>
                <p class="pt-4 lg:text-lg-sm">Вы оставляете свои данные при заполнении заявки, после чего с вами
                    связывается менеджер</p>
            </div>
            <img class="lg:hidden" src="/public/images/howitworks/separator.svg" alt="">
            <div class="flex flex-col max-w-[13.5rem] lg:max-w-none">
                <span class="pb-4 text-[100px] leading-[100px] text-darkgrey-700 font-bold">2</span>
                <div class="pb-4 text-gray-600 font-semibold relative after:absolute after:w-12 after:bg-yellow-100 after:h-0.5 after:bottom-0 after:left-0 z-[-1] lg:text-lg-h4">
                    Расчет стоимости
                    и согласование тарифа
                </div>
                <p class="pt-4 lg:text-lg-sm">В зависимости от вида и
                    габаритов груза с вами
                    будет согласована стоимость
                    транспортировка</p>
            </div>
            <img class="lg:hidden" src="/public/images/howitworks/separator.svg" alt="">
            <div class="flex flex-col max-w-[15.063rem] lg:max-w-none">
                <span class="pb-4 text-[100px] leading-[100px] text-darkgrey-700 font-bold">3</span>
                <div class="pb-10 text-gray-600 font-semibold relative after:absolute after:w-12 after:bg-yellow-100 after:h-0.5 after:bottom-0 after:left-0 z-[-1] lg:text-lg-h4">
                    Транспортировка
                </div>
                <p class="pt-4 lg:text-lg-sm">Осуществление перевозки
                    по оптимальному и
                    безопасным маршрутом из
                    минимизацией временных расходов</p>
            </div>
        </div>
    </div>
</section>