// Add fonts
@import "fonts";

// Add Navbar Styles
@import "navbar";

// Add Footer Styles
@import "footer";

// Add components
@import "components";

// Add dropdown
@import "dropdown";

// App Styles
body,
html {
    @apply m-0 p-0 font-primary;
}

body {
    @apply text-base overflow-x-hidden;
    .container {
        max-width: 1202px !important;
        @apply px-4 mx-auto;
    }
    
}

select {
    @apply cursor-pointer bg-transparent outline-none appearance-none font-semibold text-white hover:text-yellow-200;
    option {
        @apply bg-transparent bg-gray-700;
    }
}

.bg-image {
    @apply absolute top-0 h-full w-screen z-[-1] bg-[url(../images/bg-header.jpg )] bg-cover bg-no-repeat bg-center;
}

/* Address */
address {
    @apply not-italic;
    span {
        @apply block;
    }
}

hr {
    border-color: rgba(1, 56, 61, 0.3);
    @apply my-4 lg:my-5;
}

/* Hide horizontal scrollbar */
.scroll-container {
    @apply overflow-x-scroll w-full;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        @apply hidden;
    }
}

[x-cloak] {
    display: none !important;
}

.duration-300 {
    transition-duration: 300ms;
}

.ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.scale-90 {
    transform: scale(.9);
}

.scale-100 {
    transform: scale(1);
}

