// Add fonts
@import "fonts";

// Add Navbar Styles
@import "navbar";

// Add Footer Styles
@import "footer";

// Add components
@import "components";

// App Styles
body,
html {
    @apply m-0 p-0 font-primary;
}

body {
    @apply text-base overflow-x-hidden;
    .container {
        max-width: 1202px !important;
        @apply px-4 mx-auto;
    }
    
}

select {
    @apply cursor-pointer bg-transparent outline-none appearance-none font-semibold text-white hover:text-yellow-200;
    option {
        @apply bg-transparent bg-gray-700;
    }
}

.header {
    @apply absolute top-0 h-[53.5rem] w-screen z-[-1] bg-[url(../images/bg-header.jpg )] bg-cover bg-no-repeat bg-center;
}

/* Address */
address {
    @apply not-italic;
    span {
        @apply block;
    }
}

hr {
    border-color: rgba(1, 56, 61, 0.3);
    @apply my-4 lg:my-5;
}

/* Hide horizontal scrollbar */
.scroll-container {
    @apply overflow-x-scroll w-full;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        @apply hidden;
    }
}

