// Add fonts
@import "fonts";

// Add Navbar Styles
@import "navbar";

// Add Footer Styles
@import "footer";

// Add components
@import "components";

// Add dropdown
@import "dropdown";

// App Styles
body,
html {
    @apply m-0 p-0 font-primary;
}

body {
    @apply text-base overflow-x-hidden;
    .container {
        max-width: 1202px !important;
        @apply px-4 mx-auto;
    }
    
}

select {
    @apply cursor-pointer bg-transparent outline-none appearance-none font-semibold text-white hover:text-yellow-200;
    option {
        @apply bg-transparent bg-gray-700;
    }
}

.bg-image {
    @apply absolute top-0 h-full max-h-[856px] lg:max-h-[708px] w-screen z-[-1] bg-[url(../images/bg-header.jpg )] bg-cover bg-no-repeat bg-center;
}

/* Address */
address {
    @apply not-italic;
    span {
        @apply block;
    }
}

hr {
    border-color: rgba(1, 56, 61, 0.3);
    @apply my-4 lg:my-5;
}

/* Hide horizontal scrollbar */
.scroll-container {
    @apply overflow-x-scroll w-full;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        @apply hidden;
    }
}

.hamburger{
    @apply flex flex-col w-6 h-[18px] cursor-pointer relative;

    span{
        @apply w-full h-0.5 bg-gray-700 rounded-lg transition-all ease-in absolute top-0;

        &:nth-child( 1 ){
            @apply top-0;
        }

        &:nth-child( 2 ){
            @apply top-[8px] right-0 opacity-100;
        }

        &:nth-child( 3 ){
            @apply top-[16px];
        }

    }

    &.opened{
        span{
            @apply top-[8px];

            &:nth-child( 1 ){
                @apply rotate-45;
            }

            &:nth-child( 3 ){
                @apply -rotate-45;
            }

            &:nth-child( 2 ){
                @apply opacity-0 right-[60px];
            }
        }
    }
}